<template>
  <div id="app">
    <p>{{ message }}</p>
    <button class="pleeease-click-me" @click="update()">click</button>
  </div>
</template>

<script src="./app2.js"></script>
<style scoped src="./app2.css"></style>
